.bg-card_style::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: white;
  clip-path: polygon(
    4.552% 0.268%,
    4.552% 0.268%,
    3.905% 0.469%,
    3.294% 0.719%,
    2.724% 1.015%,
    2.199% 1.353%,
    1.721% 1.731%,
    1.296% 2.146%,
    0.925% 2.593%,
    0.614% 3.07%,
    0.366% 3.573%,
    0.183% 4.1%,
    0.183% 4.1%,
    0.133% 4.676%,
    0.091% 6.047%,
    0.056% 8.254%,
    0.028% 11.337%,
    0.008% 15.338%,
    -0.006% 20.296%,
    -0.013% 26.252%,
    -0.014% 33.247%,
    -0.009% 41.321%,
    0.002% 50.515%,
    0.068% 94.897%,
    0.068% 94.897%,
    0.075% 95.118%,
    0.095% 95.339%,
    0.127% 95.558%,
    0.172% 95.775%,
    0.23% 95.99%,
    0.301% 96.203%,
    0.383% 96.414%,
    0.478% 96.621%,
    0.585% 96.826%,
    0.704% 97.026%,
    0.704% 97.026%,
    0.704% 97.026%,
    0.926% 97.354%,
    1.176% 97.667%,
    1.452% 97.966%,
    1.752% 98.247%,
    2.076% 98.512%,
    2.423% 98.759%,
    2.791% 98.986%,
    3.178% 99.194%,
    3.585% 99.381%,
    4.009% 99.546%,
    4.009% 99.546%,
    4.009% 99.546%,
    4.217% 99.616%,
    4.427% 99.679%,
    4.641% 99.734%,
    4.857% 99.783%,
    5.076% 99.824%,
    5.297% 99.858%,
    5.519% 99.885%,
    5.743% 99.904%,
    5.968% 99.916%,
    6.194% 99.92%,
    40.252% 99.972%,
    40.252% 99.972%,
    46.033% 99.976%,
    51.334% 99.974%,
    56.151% 99.965%,
    60.479% 99.951%,
    64.316% 99.934%,
    67.655% 99.914%,
    70.494% 99.894%,
    72.829% 99.875%,
    74.655% 99.858%,
    75.968% 99.844%,
    75.968% 99.844%,
    76.311% 99.838%,
    76.652% 99.822%,
    76.993% 99.797%,
    77.332% 99.762%,
    77.669% 99.719%,
    78.004% 99.665%,
    78.337% 99.603%,
    78.666% 99.532%,
    78.993% 99.451%,
    79.316% 99.361%,
    79.316% 99.361%,
    79.643% 99.261%,
    79.963% 99.15%,
    80.275% 99.027%,
    80.58% 98.894%,
    80.877% 98.75%,
    81.165% 98.595%,
    81.444% 98.431%,
    81.714% 98.256%,
    81.974% 98.072%,
    82.223% 97.878%,
    82.223% 97.878%,
    82.567% 97.583%,
    82.861% 97.314%,
    83.116% 97.05%,
    83.346% 96.773%,
    83.561% 96.463%,
    83.774% 96.101%,
    83.998% 95.668%,
    84.243% 95.143%,
    84.523% 94.508%,
    84.849% 93.744%,
    84.849% 93.744%,
    85.323% 92.692%,
    85.788% 91.801%,
    86.267% 91.052%,
    86.786% 90.424%,
    87.373% 89.898%,
    88.051% 89.454%,
    88.848% 89.072%,
    89.789% 88.733%,
    90.9% 88.416%,
    92.206% 88.102%,
    92.206% 88.102%,
    93.658% 87.749%,
    94.913% 87.384%,
    95.989% 86.997%,
    96.9% 86.576%,
    97.662% 86.11%,
    98.29% 85.588%,
    98.802% 84.998%,
    99.212% 84.329%,
    99.536% 83.569%,
    99.789% 82.708%,
    99.789% 82.708%,
    99.84% 82.164%,
    99.882% 80.972%,
    99.917% 79.086%,
    99.944% 76.464%,
    99.965% 73.061%,
    99.979% 68.832%,
    99.986% 63.735%,
    99.987% 57.725%,
    99.981% 50.757%,
    99.971% 42.788%,
    99.903% 4.89%,
    99.903% 4.89%,
    99.897% 4.701%,
    99.88% 4.513%,
    99.853% 4.326%,
    99.815% 4.14%,
    99.766% 3.956%,
    99.706% 3.774%,
    99.636% 3.595%,
    99.556% 3.417%,
    99.465% 3.243%,
    99.364% 3.071%,
    99.269% 2.92%,
    99.269% 2.92%,
    99.046% 2.593%,
    98.797% 2.279%,
    98.521% 1.981%,
    98.221% 1.699%,
    97.897% 1.435%,
    97.55% 1.188%,
    97.182% 0.961%,
    96.795% 0.753%,
    96.388% 0.566%,
    95.964% 0.401%,
    95.964% 0.401%,
    95.964% 0.401%,
    95.756% 0.331%,
    95.545% 0.268%,
    95.331% 0.212%,
    95.115% 0.164%,
    94.896% 0.123%,
    94.675% 0.089%,
    94.452% 0.063%,
    94.228% 0.044%,
    94.003% 0.032%,
    93.777% 0.028%,
    50.326% 0%,
    50.326% 0%,
    38.782% -0.009%,
    29.407% -0.014%,
    21.969% -0.014%,
    16.235% -0.007%,
    11.971% 0.008%,
    8.945% 0.034%,
    6.923% 0.071%,
    5.672% 0.121%,
    4.96% 0.186%,
    4.552% 0.268%
  );
}

.clipath-v1 {
  display: block;
  clip-path: polygon(
    6.726% 0%,
    93.274% 0%,
    93.274% 0%,
    94.364% 0.119%,
    95.399% 0.464%,
    96.364% 1.015%,
    97.245% 1.755%,
    98.029% 2.664%,
    98.701% 3.723%,
    99.249% 4.915%,
    99.657% 6.219%,
    99.912% 7.617%,
    100% 9.091%,
    100% 66.97%,
    100% 66.97%,
    99.732% 70.984%,
    98.988% 73.969%,
    97.863% 76.111%,
    96.447% 77.599%,
    94.835% 78.618%,
    93.119% 79.355%,
    91.39% 79.998%,
    89.742% 80.733%,
    88.268% 81.747%,
    87.061% 83.227%,
    87.061% 83.227%,
    86.147% 85.185%,
    85.483% 87.323%,
    84.946% 89.551%,
    84.409% 91.777%,
    83.749% 93.91%,
    82.839% 95.86%,
    81.556% 97.535%,
    79.775% 98.844%,
    77.369% 99.696%,
    74.215% 100%,
    6.726% 100%,
    6.726% 100%,
    5.636% 99.881%,
    4.601% 99.536%,
    3.636% 98.985%,
    2.755% 98.245%,
    1.971% 97.336%,
    1.299% 96.277%,
    0.751% 95.085%,
    0.343% 93.781%,
    0.088% 92.383%,
    0% 90.909%,
    0% 9.091%,
    0% 9.091%,
    0.088% 7.617%,
    0.343% 6.219%,
    0.751% 4.915%,
    1.299% 3.723%,
    1.971% 2.664%,
    2.755% 1.755%,
    3.636% 1.015%,
    4.601% 0.464%,
    5.636% 0.119%,
    6.726% 0%
  );
}
