.wrapImgResize {
  overflow: hidden;
  position: relative;
  display: block;

  video,
  iframe,
  img {
    object-fit: cover;
    width: 101%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 101%;
    max-height: 101%;
  }

  &.img16And9 {
    padding-top: 56.25%;
  }

  &.imgSquare {
    padding-top: 100%;
  }

  &.img9And16 {
    padding-top: 177%;
  }

  &.img3And4 {
    padding-top: 133.33333333%;
  }
  &.img3And2 {
    padding-top: 66.67%;
  }

  &.imgSpecial1 {
    padding-top: 27.25%;
  }
  &.imgSpecial2 {
    padding-top: 73%;
  }
  &.imgSpecial3 {
    padding-top: 30.25%;
  }
  &.imgSpecial4 {
    padding-top: 116.22%;
  }
}
