<div class="container-layout overflow-hidden">
  <div class="grid grid-cols-1 gap-6 md:grid-cols-2 md:gap-8">
    <a href="{{ site.baseUrl }}/chung-toi-la-ai/"
      class="group block w-full overflow-hidden rounded-xl bg-white shadow-lg transition-all  hover:-translate-y-1 duration-300 hover:shadow-2xl"
      data-aos="fade-left" data-aos-delay="50" data-aos-duration="1000">
      <div class="relative  wrapImgResize img16And9">
        <img src="https://demo.sweetsoft.vn/Orgacert/images/about-1.png" alt="Chúng tôi là ai" />
      </div>
      <div class="p-5">
        <h3 class="text-lg font-semibold text-gray-900">Chúng tôi là ai?</h3>
      </div>
    </a>

    <a href="{{ site.baseUrl }}/nhiem-vu-orgacert/"
      class="group block w-full overflow-hidden rounded-xl bg-white shadow-lg transition-all hover:-translate-y-1 duration-300 hover:shadow-2xl"
      data-aos="fade-left" data-aos-delay="50" data-aos-duration="1000">
      <div class="relative  wrapImgResize  img16And9">
        <img src="https://demo.sweetsoft.vn/Orgacert/images/about-2.jpg" alt="Nhiệm vụ của Orgacert">
      </div>
      <div class="p-5">
        <h3 class="text-lg font-semibold text-gray-900">Nhiệm vụ của Orgacert</h3>
      </div>
    </a>

    <a href="#"
      class="group block w-full overflow-hidden rounded-xl bg-white shadow-lg transition-all hover:-translate-y-1 duration-300 hover:shadow-2xl"
      data-aos="fade-left" data-aos-delay="50" data-aos-duration="1000">
      <div class="relative  wrapImgResize  img16And9">
        <img src="https://demo.sweetsoft.vn/Orgacert/images/about-3.png" alt="Chứng nhận Orgacert là gì?">
      </div>
      <div class="p-5">
        <h3 class="text-lg font-semibold text-gray-900">Chứng nhận Orgacert là gì?</h3>
      </div>
    </a>

    <a href="#"
      class="group block w-full overflow-hidden rounded-xl bg-white shadow-lg transition-all hover:-translate-y-1 duration-300 hover:shadow-2xl"
      data-aos="fade-left" data-aos-delay="50" data-aos-duration="1000">
      <div class="relative  wrapImgResize  img16And9">
        <img src="https://demo.sweetsoft.vn/Orgacert/images/about-4.jpg" alt="Chất lượng OM.GAP là gì?">
      </div>
      <div class="p-5">
        <h3 class="text-lg font-semibold text-gray-900">Chất lượng OM.GAP là gì?</h3>
      </div>
    </a>

  </div>
</div>
