{% from "components/CardBlog.njk" import CardBlog %}

<section class="bg-white py-5 2xl:py-10 relative overflow-hidden rounded-xl">
  <div class="absolute -right-6 -bottom-3 z-0">
    <img class="max-w-[400px] w-full object-cover opacity-25 "
      src="https://demo.sweetsoft.vn/Orgacert/images/icon-logo.png" alt="Trang trí" />
  </div>
  <div class="absolute -left-6 top-3 z-0">
    <img class="max-w-[400px] w-full object-cover opacity-25 "
      src="https://demo.sweetsoft.vn/Orgacert/images/icon-logo.png" alt="Trang trí" />
  </div>

  <div class="max-w-[1600px] w-full mx-auto relative z-10">
    <div class="flex flex-col md:flex-row justify-between md:items-center mb-5 2xl:mb-12 gap-4">
      <h2 class="text-xl 2xl:text-4xl font-bold text-secondar-color uppercase">
        Sự kiện mới nhất
      </h2>
      <div class="hidden lg:flex items-center justify-center">
        <a href="{{ site.baseUrl }}/danh-sach-tin-tuc/" class='btn btn-primary btn-sm flex items-center gap-2 relative'>
          Xem tất cả
          <i class="fa-solid fa-arrow-right"></i>
        </a>
      </div>
    </div>
    <div class="relative">
      <div class="swiper news-slider-v1 !px-3 !py-3">
        <div class="swiper-wrapper pb-10">
          {% for item in latestEventsBlog.items %}
          {# {{ CardBlog(item) }} #}
          <div class="swiper-slide !h-auto" data-aos="fade-right" data-aos-delay="50" data-aos-duration="1000">
            <div class="bg-white rounded-2xl border p-3 md:p-8">
              <div class="grid md:grid-cols-2 gap-6 md:gap-12 items-center">
                <div class="relative">
                  <div class="relative  wrapImgResize img16And9 rounded-2xl">
                    <img src="https://demo.sweetsoft.vn/Orgacert/images/chung-nhan-orgacert-1.jpg"
                      alt="Chúng tôi là ai" />
                  </div>
                </div>
                <div class="flex flex-col h-full">
                  <div class="mb-3">
                    <h2 class="text-xl md:text-3xl font-bold text-orgacert-dark mb-6 uppercase">
                      Sự kiện GROWTECHEXPO 2025
                    </h2>
                    <p class="text-gray-600 mb-6 leading-relaxed line-clamp-3">
                      Mở đường khởi đầu cho cá nhân, trang trại hoặc doanh nghiệp được thẩm định quy trình canh tác và
                      sử dụng
                      phân bón hữu cơ theo quy chuẩn của Orgacert, từ đó được công nhận đạt tiêu chuẩn hữu cơ và đủ điều
                      kiện
                      nhận
                      chứng nhận chất lượng OM.GAP.
                    </p>

                    <a href="{{ site.baseUrl }}/chi-tiet-tin-tuc/"
                      class="btn btn-primary btn-sm flex items-center gap-2 relative h-fit w-fit">
                      <i class="fa-solid fa-arrow-right"></i>
                      Xem chi tiết
                    </a>
                  </div>
                  <div class=" border-t border-gray-200 pt-4 mt-auto">
                    <h4 class="text-sm font-bold text-gray-900">
                      Thời gian sự kiện
                    </h4>
                    <p class="mt-1 text-sm text-gray-600">
                      8/10/2025 – 10/10/2025
                    </p>
                  </div>
                </div>

              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div
        class="swiper-pagination news-slider-pagination-v1  !bottom-[-10px] !w-fit mx-auto !left-1/2 !-translate-x-1/2">
      </div>
    </div>
    <div class="flex lg:hidden items-center justify-center mt-8">
      <a href="{{ site.baseUrl }}/danh-sach-tin-tuc/" class='btn btn-primary btn-sm flex items-center gap-2 relative'>
        Xem tất cả
        <i class="fa-solid fa-arrow-right"></i>
      </a>
    </div>
  </div>
</section>
