<div class="grid grid-cols-1 lg:grid-cols-2  overflow-hidden bg-gray-50 rounded-2xl shadow-xl">
  <div class="relative w-full min-h-[400px] md:min-h-full">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3899.0959824476017!2d109.17448457585037!3d12.24178003045711!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31705d84a681978d%3A0x36fea6c8665a519!2zVG_DoCBuaMOgIFZDTiBUb3dlciwgw5QgMkMvMDIgVOG7kSBI4buvdSwgUGjGsOG7m2MgSOG6o2ksIE5oYSBUcmFuZywgS2jDoW5oIEjDsmEgNjUwMDAwLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1762758400222!5m2!1svi!2s"
      width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade" class="absolute inset-0 w-full h-full">
    </iframe>

    {# <div class="absolute bottom-0 left-0 right-0 p-6 bg-black/60 backdrop-blur-sm md:rounded-bl-2xl">
      <div class="flex flex-col gap-4 text-white sm:flex-row sm:items-center sm:justify-between">
        <div class="flex items-center gap-3">
          <svg class="w-12 h-12 text-lime-300" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M16.5 18.75h-9m9 0a3 3 0 0 1 3 3h-15a3 3 0 0 1 3-3m9 0v-3.375c0-.621-.503-1.125-1.125-1.125h-6.75c-.621 0-1.125.503-1.125 1.125V18.75M16.5 18.75h-9m9 0a3 3 0 0 1 3 3h-15a3 3 0 0 1 3-3m9 0V9.375c0-.621-.503-1.125-1.125-1.125h-6.75c-.621 0-1.125.503-1.125 1.125V18.75m0 0h-9" />
          </svg>
          <div>
            <div class="font-bold">Giải thưởng</div>
            <div class="text-sm">Người Làm Vườn Trẻ</div>
          </div>
        </div>
        <div class="flex items-center gap-3">
          <svg class="w-12 h-12 text-lime-300" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M6.633 10.25c.806 0 1.533-.446 2.031-1.08a9.041 9.041 0 0 1 2.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 0 0 .322-1.672V3a.75.75 0 0 1 .75-.75A2.25 2.25 0 0 1 16.5 4.5c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282m0 0h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 0 1-2.649 7.521c-.388.482-.987.729-1.605.729H13.48c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 0 0-1.423-.23H5.904m10.59-11.25h.008v.008h-.008V8.25Z" />
          </svg>
          <div>
            <div class="flex items-center gap-1 font-bold">
              4.8
              <svg class="w-5 h-5 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                fill="currentColor">
                <path fill-rule="evenodd"
                  d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434L10.788 3.21Z"
                  clip-rule="evenodd" />
              </svg>
            </div>
            <div class="text-sm">480 đánh giá Google</div>
          </div>
        </div>
      </div>
    </div> #}
  </div>

  <div class="w-full p-3 lg:p-8 xl:p-12">
    <span class="block text-sm font-semibold tracking-wider text-primary-color uppercase">Giải pháp Nông nghiệp Hữu cơ
      Cùng
      Chuyên gia</span>
    <h2 class="mt-2 text-xl font-bold tracking-tight text-gray-900 sm:text-2xl text-justify">
      Vui lòng để lại thông tin. Đội ngũ chuyên gia Orgacert sẽ liên hệ cá nhân để trao đổi và thiết lập giải pháp nông
      nghiệp hữu cơ phù hợp nhất với nhu cầu của bạn.
    </h2>

    <div class="mt-8">
      <div class="grid grid-cols-1 gap-x-6 gap-y-5 sm:grid-cols-2">
        <div>
          <label for="your-name" class="sr-only">Họ và Tên</label>
          <input type="text" name="your-name" id="your-name" placeholder="Họ và Tên"
            class="block w-full px-4 py-3 bg-white border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-green-500 focus:border-transparent">
        </div>
        <div>
          <label for="phone-number" class="sr-only">Số Điện Thoại</label>
          <input type="tel" name="phone-number" id="phone-number" placeholder="Số Điện Thoại"
            class="block w-full px-4 py-3 bg-white border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-green-500 focus:border-transparent">
        </div>
        <div class="sm:col-span-2">
          <label for="email-address" class="sr-only">Địa chỉ Email</label>
          <input type="email" name="email-address" id="email-address" placeholder="Địa chỉ Email"
            class="block w-full px-4 py-3 bg-white border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-green-500 focus:border-transparent">
        </div>
        <div class="sm:col-span-2">
          <label for="subject-type" class="sr-only">Chủ đề</label>
          <input type="text" name="subject-type" id="subject-type" placeholder="Chủ đề"
            class="block w-full px-4 py-3 bg-white border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-green-500 focus:border-transparent">
        </div>
        <div class="sm:col-span-2">
          <label for="message" class="sr-only">Nội dung tin nhắn</label>
          <textarea name="message" id="message" rows="4" placeholder="Nội dung tin nhắn..."
            class="block w-full px-4 py-3 bg-white border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-green-500 focus:border-transparent"></textarea>
        </div>
      </div>

      <div class="mt-6">

        <button class="btn btn-primary btn-sm flex items-center gap-2 relative h-fit justify-center mt-6 w-full">
          Gửi Ngay
        </button>

      </div>

      <div class="flex items-center justify-center gap-2 mt-8 text-sm text-gray-600">
        <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 0 0 2.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 0 1-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 0 0-1.091-.852H4.5A2.25 2.25 0 0 0 2.25 4.5v2.25Z" />
        </svg>
        <span>Nếu bạn có câu hỏi, liên hệ: <strong class="font-medium text-gray-900">0949 040 599</strong></span>
      </div>
    </div>
  </div>
</div>
