<div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-6">
  <!-- Số điện thoại -->
  <a href="tel: 0949 040 599"
    class="icon-style-six group relative block no-underline rounded-2xl overflow-hidden p-2 md:p-4 transition-all duration-300">
    <div class="icon-style-six-inner relative z-10">
      <div class="flex items-center gap-3">
        <div class="w-10 h-10 md:w-14 md:h-14 p-3 rounded-full bg-gold transition-all duration-300">
          <img src="https://cdn.prod.website-files.com/67d01504d61e76f82bb8bdd3/67ee1329223c2d7678ec785f_call.svg"
            loading="lazy" alt="Phone icon" class="icon-style-six-icon transition-all duration-300 " />
        </div>
        <h3 class="text-xl md:text-2xl font-semibold text-black transition-all duration-300 group-hover:text-white">
          Số điện thoại
        </h3>
      </div>
      <p class="mt-6 text-black transition-all duration-300 group-hover:text-white max-w-[230px] 2xl:max-w-[300px]">
        0949 040 599
      </p>
    </div>


    <div class="icon-style-six-bg-shape absolute inset-0 transition-all duration-300 group-hover:bg-primary-color z-0">
    </div>
    <img src="https://cdn.prod.website-files.com/67d01504d61e76f82bb8bdd3/67ee14f7ba9ba9f531889d41_call-light.svg"
      loading="lazy" alt=""
      class="max-w-10 md:max-w-12 w-full h-auto object-cover absolute right-4 bottom-4 z-1 transition-all duration-300 group-hover:brightness-0 group-hover:invert" />
  </a>

  <!-- Số điện thoại -->
  <a href="mailto:fnano.bio@gmail.com"
    class="icon-style-six group relative block no-underline rounded-2xl overflow-hidden p-4 transition-all duration-300">
    <div class="icon-style-six-inner relative z-10">
      <div class="flex items-center gap-3">
        <div class="w-10 h-10 md:w-14 md:h-14 p-3 rounded-full bg-gold transition-all duration-300">
          <img src="https://cdn.prod.website-files.com/67d01504d61e76f82bb8bdd3/67ee1328305dd50965a9b430_email.svg"
            loading="lazy" alt="Phone icon" class="icon-style-six-icon transition-all duration-300 " />
        </div>
        <h3 class="text-xl md:text-2xl font-semibold text-black transition-all duration-300 group-hover:text-white">
          Email
        </h3>
      </div>
      <p class="mt-6 text-black transition-all duration-300 group-hover:text-white max-w-[230px] 2xl:max-w-[300px]">
        fnano.bio@gmail.com
      </p>
    </div>


    <div class="icon-style-six-bg-shape absolute inset-0 transition-all duration-300 group-hover:bg-primary-color z-0">
    </div>
    <img src="https://cdn.prod.website-files.com/67d01504d61e76f82bb8bdd3/67ee14f71039a87c946df4b8_mail-Light.svg"
      loading="lazy" alt=""
      class="max-w-10 md:max-w-12 w-full h-auto object-cover absolute right-4 bottom-4 z-1 transition-all duration-300 group-hover:brightness-0 group-hover:invert" />
  </a>

  <a href="https://maps.app.goo.gl/fuR7yimA5Awa6wCA7" target="_blank" rel="noopener noreferrer"
    class="icon-style-six group relative block no-underline rounded-2xl overflow-hidden p-4 transition-all duration-300">
    <div class="icon-style-six-inner relative z-10">
      <div class="flex items-center gap-3">
        <div class="w-10 h-10 md:w-14 md:h-14 p-3 rounded-full bg-gold transition-all duration-300">
          <img src="https://cdn.prod.website-files.com/67d01504d61e76f82bb8bdd3/67ee1328ae74608917d9e164_location.svg"
            loading="lazy" alt="Phone icon" class="icon-style-six-icon transition-all duration-300 " />
        </div>
        <h3 class="text-xl md:text-2xl font-semibold text-black transition-all duration-300 group-hover:text-white">
          Văn phòng đại diện
        </h3>
      </div>
      <p class="mt-6 text-black transition-all duration-300 group-hover:text-white max-w-[230px] 2xl:max-w-[300px]">
        Toà nhà VCN Tower, Số 02 Tố Hữu, Phường Nam Nha Trang, Khánh Hoà, Việt Nam
      </p>

    </div>

    <div class="icon-style-six-bg-shape absolute inset-0 transition-all duration-300 group-hover:bg-primary-color z-0">
    </div>
    <img src="https://cdn.prod.website-files.com/67d01504d61e76f82bb8bdd3/67ee14f7ad8976c91d7db0ae_location-light.svg"
      loading="lazy" alt=""
      class="max-w-8 md:max-w-10 w-full h-auto object-cover absolute right-4 bottom-4 z-1 transition-all duration-300 group-hover:brightness-0 group-hover:invert" />
  </a>
  <a href="https://maps.app.goo.gl/GgHdyKUc3ryxVbb86" target="_blank" rel="noopener noreferrer"
    class="icon-style-six group relative block no-underline rounded-2xl overflow-hidden p-4 transition-all duration-300">
    <div class="icon-style-six-inner relative z-10">
      <div class="flex items-center gap-3">
        <div class="w-10 h-10 md:w-14 md:h-14 p-3 rounded-full bg-gold transition-all duration-300">
          <img src="https://cdn.prod.website-files.com/67d01504d61e76f82bb8bdd3/67ee1328ae74608917d9e164_location.svg"
            loading="lazy" alt="Phone icon" class="icon-style-six-icon transition-all duration-300 " />
        </div>
        <h3 class="text-xl md:text-2xl font-semibold text-black transition-all duration-300 group-hover:text-white">
          Nhà máy sản xuất
        </h3>
      </div>
      <p class="mt-6 text-black transition-all duration-300 group-hover:text-white max-w-[230px] 2xl:max-w-[300px]">
        QL1A, Thôn Cây Xoài, Xã Cam Lâm, Khánh Hoà, Việt Nam
      </p>
    </div>
    <div class="icon-style-six-bg-shape absolute inset-0 transition-all duration-300 group-hover:bg-primary-color z-0">
    </div>
    <img src="https://cdn.prod.website-files.com/67d01504d61e76f82bb8bdd3/67ee14f7ad8976c91d7db0ae_location-light.svg"
      loading="lazy" alt=""
      class="max-w-8 md:max-w-10 w-full h-auto object-cover absolute right-4 bottom-4 z-1 transition-all duration-300 group-hover:brightness-0 group-hover:invert" />
  </a>

</div>
