<div class="mb-8 bg-white rounded-lg shadow-sm p-4">
  <div class="flex gap-2 sm:gap-4 items-center">
    <div class="max-w-2xl w-full">
      <div class="relative" id="search-wrapper">
        <div class="relative">
          <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
            <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
              stroke-width="1.5" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
            </svg>
          </div>

          <input type="text" id="searchInput" placeholder="Tìm kiếm thương hiệu..."
            class="w-full pl-10 pr-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-primary-color focus:border-transparent">
        </div>

        <div id="results-dropdown"
          class="hidden absolute z-10 w-full mt-2 bg-white rounded-lg shadow-xl border border-gray-200 p-5 max-h-[300px] overflow-y-auto overflow-x-hidden">
          <h3 class="text-xl md:text-2xl font-bold text-gray-800 mb-4">
            ( 6 Kết quả )
          </h3>

          <div class="flex flex-wrap gap-2">
            <a href="javascript:;"
              class="inline-flex items-center gap-2 px-4 py-1 text-sm md:text-lg font-medium bg-primary-color text-white border border-primary-color rounded-md">
              Tất cả
            </a>

            <a href="javascript:;"
              class="inline-flex items-center gap-2 px-4 py-1 text-sm md:text-lg font-medium border border-primary-color text-primary-color rounded-md hover:bg-primary-50">
              <img src="https://demo.sweetsoft.vn/Orgacert/images/Brands-1.png" class="h-3 md:h-6 object-contain" />
              Standards
            </a>
            <a href="javascript:;"
              class="inline-flex items-center gap-2 px-4 py-1 text-sm md:text-lg font-medium border border-primary-color text-primary-color rounded-md hover:bg-primary-50">
              <img src="https://demo.sweetsoft.vn/Orgacert/images/Brands-2.png" class="h-3 md:h-6 object-contain" />
              Standards
            </a>
            <a href="javascript:;"
              class="inline-flex items-center gap-2 px-4 py-1 text-sm md:text-lg font-medium border border-primary-color text-primary-color rounded-md hover:bg-primary-50">
              <img src="https://demo.sweetsoft.vn/Orgacert/images/Brands-3.png" class="h-3 md:h-6 object-contain" />
              Standards
            </a>
            <a href="javascript:;"
              class="inline-flex items-center gap-2 px-4 py-1 text-sm md:text-lg font-medium border border-primary-color text-primary-color rounded-md hover:bg-primary-50">
              <img src="https://demo.sweetsoft.vn/Orgacert/images/Brands-1.png" class="h-3 md:h-6 object-contain" />
              Standards
            </a>
          </div>
        </div>

      </div>
    </div>
    <button class="flex whitespace-nowrap items-center gap-3 sm:w-auto px-4 py-[9px] bg-primary-color text-white rounded-md shadow-sm hover:bg-primary-color/90 focus:outline-none focus:ring-2
      focus:ring-primary-color focus:ring-offset-2 w-fit">
      <i class="fa-solid fa-magnifying-glass inline-block sm:hidden! py-1"></i>
      <span class="hidden sm:inline-block">Tìm kiếm</span>
    </button>
  </div>
  <div class="flex flex-wrap gap-4 mt-3">
    <div class="custom-select-wrapper relative w-full max-w-xs sm:w-auto">
      <input type="hidden" name="sort_order" class="select-value-input">

      <button type="button"
        class="custom-select-trigger flex items-center justify-between gap-3 w-full sm:w-auto px-5 py-2 font-medium text-gray-700 bg-white border border-gray-300 rounded-xl shadow-sm transition duration-150 ease-in-out  focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-color">

        <svg class="select-icon w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          stroke-width="2" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M3 7.5L7.5 3m0 0L12 7.5M7.5 3v13.5m13.5 0L16.5 21m0 0L12 16.5m4.5 4.5V7.5" />
        </svg>

        <span class="select-text whitespace-nowrap">Thứ tự</span>

        <svg class="chevron-icon w-4 h-4 ml-1 transition-transform duration-200" xmlns="http://www.w3.org/2000/svg"
          fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
        </svg>
      </button>

      <div
        class="custom-select-menu hidden absolute z-10 w-full min-w-[200px] mt-2 bg-white rounded-lg shadow-xl border border-gray-100 overflow-hidden">
        <a href="#" class="select-option block px-4 py-3 text-sm text-gray-700 hover:bg-gray-100"
          data-value="default">Thứ tự mặc định</a>
        <a href="#" class="select-option block px-4 py-3 text-sm text-gray-700 hover:bg-gray-100"
          data-value="newest">Mới nhất</a>
        <a href="#" class="select-option block px-4 py-3 text-sm text-gray-700 hover:bg-gray-100"
          data-value="price-asc">Giá: Thấp đến Cao</a>
        <a href="#" class="select-option block px-4 py-3 text-sm text-gray-700 hover:bg-gray-100"
          data-value="price-desc">Giá: Cao đến Thấp</a>
      </div>
    </div>


    <div class="custom-select-wrapper relative w-full max-w-xs sm:w-auto">
      <input type="hidden" name="fertilizer_type" class="select-value-input">
      <button type="button"
        class="custom-select-trigger flex items-center justify-between gap-3 w-full sm:w-auto px-5 py-2 font-medium text-gray-700 bg-white border border-gray-300 rounded-xl shadow-sm transition duration-150 ease-in-out  focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-color">

        <svg class="select-icon w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
          stroke-width="2" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M9.568 3H5.25A2.25 2.25 0 003 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 005.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 009.568 3z" />
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 6h.008v.008H6V6z" />
        </svg>

        <span class="select-text whitespace-nowrap">Loại phân bón</span>

        <svg class="chevron-icon w-4 h-4 ml-1 transition-transform duration-200" xmlns="http://www.w3.org/2000/svg"
          fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
        </svg>
      </button>

      <div
        class="custom-select-menu hidden absolute z-10 w-full min-w-[200px] mt-2 bg-white rounded-lg shadow-xl border border-gray-100 overflow-hidden">
        <a href="#" class="select-option block px-4 py-3 text-sm text-gray-700 hover:bg-gray-100" data-value="">Tất cả
          các loại</a>
        <a href="#" class="select-option block px-4 py-3 text-sm text-gray-700 hover:bg-gray-100"
          data-value="organic">Phân hữu cơ</a>
        <a href="#" class="select-option block px-4 py-3 text-sm text-gray-700 hover:bg-gray-100"
          data-value="inorganic">Phân vô cơ (NPK)</a>
        <a href="#" class="select-option block px-4 py-3 text-sm text-gray-700 hover:bg-gray-100"
          data-value="micro">Phân vi lượng</a>
      </div>
    </div>

  </div>
</div>
