<div class="">
  <div class="flex flex-col xl:grid grid-cols-12 gap-4 md:gap-8 2xl:gap-12">
    <div class="col-span-5">
      <div class="sticky top-10">
        {# data-type="video" , data-type="image", data-type="youtube"#}
        <div class="wrapImgResize imgSquare bg-white rounded-xl shadow-sm media-container" data-type="image"
          data-url="https://demo.sweetsoft.vn/Orgacert/images/product-card-1.png">
        </div>
      </div>
    </div>
    <div class="col-span-7 relative">

      <a href="https://protonfusion.com.vn/phoska-fruit--6-32-32--ct1355"
        class="text-primary-color text-3xl absolute right-3 top-3 z-10" title=" Xem Website Chính Thức">
        <i class="fa-solid fa-share-from-square"></i>
      </a>
      <div class="sticky top-10">
        <div class="flex flex-col">
          <span class="mb-2 text-sm font-semibold uppercase tracking-wide text-primary-color">
            Proton Fusion
          </span>
          <h1 class="mb-3 text-3xl font-bold text-gray-900">Phoska Fruit</h1>
          <div class="mb-4 flex flex-wrap gap-2">
            <span class="inline-block rounded-full bg-blue-100 px-3 py-1 text-sm font-medium text-blue-800">
              Loại phân bón: phân bón hỗn hợp NPK
            </span>
            <span class="ml-2 inline-block rounded-full bg-green-100 px-3 py-1 text-sm font-medium text-green-800">
              Loại phân bón: NPK 6-32-32%
            </span>
          </div>

          <p class="mb-6 text-base text-gray-700">
            Phân bón hỗn hợp NPK cung cấp dinh dưỡng thiết yếu,
            được sản xuất tại Hoa Kỳ.
          </p>
        </div>

        <div class="mt-6">
          <h3 class="text-2xl font-bold">Mô tả chi tiết</h3>
          <div class="showDetailBlog">
            <h3>PHOSKA FRUIT ( 6-32-32)</h3>
            <p>Làm già lá nhanh - Phân hoá mầm hoa</p>
            <p>PHOSKA FRUIT ( 6-32-32) là một sản phẩm phân bón NPK dạng gel Sinh Học được chế tạo theo công nghệ mới
              nhất
              trong lĩnh vực Phân Bón, nó đem lại những hiệu quả cho Nông Nghiệp mà chưa có Công Nghệ nào thay thế được.
            </p>
            <p>Thành phần:</p>
            <ul>
              <li>Nitơ (N) tổng số: 6%</li>
              <li>Đạm hữu hiệu (N): 4%</li>
              <li>Phospho (P2O5) hữu hiệu: 32%</li>
              <li>Kali (K2O) hữu hiệu: 32%</li>
              <li>Chất điều hòa sinh trưởng thực vật: 0.02%</li>
            </ul>
            <p>HƯỚNG DẪN SỬ DỤNG</p>
            <p>Một chai 500ml pha cho 600-800 lit nước .Sử dụng trong giai đoạn làm già lá, chặn đọt, ra hoa đồng
              loạt.Phun qua lá và tưới gốc</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
