<section class="pt-10 md:py-10 2xl:py-20  relative overflow-hidden">
  <div class="absolute -right-6 -bottom-3 z-0">
    <img class="max-sm:hidden max-w-[400px] w-full object-cover opacity-25 "
      src="https://demo.sweetsoft.vn/Orgacert/images/icon-logo.png" alt="Trang trí" />
  </div>

  <div>
    <div class="flex max-xs:flex-col flex-wrap items-center justify-between gap-6 relative z-2 mb-10">
      <div class="flex flex-wrapitems-center gap-4">
        <span class="text-4xl md:text-6xl font-bold text-primary-color opacity-20">02</span>
        <div>
          <h2 class="text-xl md:text-4xl font-bold text-gray-800">
            Tài liệu tiêu chuẩn có sử dụng loại sản phẩm này
          </h2>
          <div class="h-0.5 w-10 md:w-20 bg-primary-color mt-2"></div>
        </div>
      </div>
    </div>

    <div class="relative" data-aos="fade-left" data-aos-delay="50" data-aos-duration="1000">
      <div class="grid grid-cols-1 md:grid-cols-3 gap-3 lg:gap-8 ">
        <div
          class="bg-white border border-gray-100 rounded-2xl shadow-lg overflow-hidden group cursor-pointer transition-all duration-300 hover:-translate-y-2 flex flex-col h-full">
          <div class="p-3 relative">
            <a href="/Orgacert/chi-tiet-tin-tuc/" class="overflow-hidden aspect-video clipath-v1">
              <img src="https://demo.sweetsoft.vn/Orgacert/images/bg-new-2.png" alt=""
                class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110" />
            </a>
            <div
              class="h-8 w-8 old:w-9 old:h-9 small:w-10 small:h-10 rounded-full bg-primary-color absolute max-xs:right-3 bottom-[6px] lg:bottom-3 2xl:bottom-5 right-4 lg:right-5 flex items-center justify-center text-white">
              <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 17 17" height="18px"
                width="18px">
                <path d="M16 0.997v9.003h-1v-7.297l-10.317 10.297-0.707-0.708 10.315-10.295h-7.316v-1h9.025z">
                </path>
              </svg>
            </div>
          </div>

          <div class="p-6 flex flex-col flex-grow">
            <div>
              <span class="text-xs font-bold px-3 py-1 rounded-full bg-green-100 text-green-800">
                TÀI LIỆU
              </span>
              <h3 class="mt-4 text-xl font-bold text-gray-800 hover:text-green-700 transition-colors">
                <a href="/Orgacert/chi-tiet-tin-tuc/">Phương pháp phối hợp 3 chai trên 600 lít của Proton
                  Fusion</a>
              </h3>
              <p class="mt-2 text-gray-600 text-sm leading-relaxed line-clamp-2">
                Phương pháp phối hợp 3 chai trên 600 lít của Proton Fusion giúp tăng hiệu quả sử dụng phân bón hữu
                cơ
                Orgacert, cải thiện chất lượng cây trồng và nâng cao năng suất một cách bền vững.
              </p>
            </div>
          </div>
        </div>
        <div
          class="bg-white border border-gray-100 rounded-2xl shadow-lg overflow-hidden group cursor-pointer transition-all duration-300 hover:-translate-y-2 flex flex-col h-full">
          <div class="p-3 relative">
            <a href="/Orgacert/chi-tiet-tin-tuc/" class="overflow-hidden aspect-video clipath-v1">
              <img src="https://demo.sweetsoft.vn/Orgacert/images/bg-new-2.png" alt=""
                class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110" />
            </a>
            <div
              class="h-8 w-8 old:w-9 old:h-9 small:w-10 small:h-10 rounded-full bg-primary-color absolute max-xs:right-3 bottom-[6px] lg:bottom-3 2xl:bottom-5 right-4 lg:right-5 flex items-center justify-center text-white">
              <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 17 17" height="18px"
                width="18px">
                <path d="M16 0.997v9.003h-1v-7.297l-10.317 10.297-0.707-0.708 10.315-10.295h-7.316v-1h9.025z">
                </path>
              </svg>
            </div>
          </div>

          <div class="p-6 flex flex-col flex-grow">
            <div>
              <span class="text-xs font-bold px-3 py-1 rounded-full bg-green-100 text-green-800">
                TÀI LIỆU
              </span>
              <h3 class="mt-4 text-xl font-bold text-gray-800 hover:text-green-700 transition-colors">
                <a href="/Orgacert/chi-tiet-tin-tuc/">Phương pháp phối hợp 3 chai trên 600 lít của Proton
                  Fusion</a>
              </h3>
              <p class="mt-2 text-gray-600 text-sm leading-relaxed line-clamp-2">
                Phương pháp phối hợp 3 chai trên 600 lít của Proton Fusion giúp tăng hiệu quả sử dụng phân bón hữu
                cơ
                Orgacert, cải thiện chất lượng cây trồng và nâng cao năng suất một cách bền vững.
              </p>
            </div>
          </div>
        </div>
        <div
          class="bg-white border border-gray-100 rounded-2xl shadow-lg overflow-hidden group cursor-pointer transition-all duration-300 hover:-translate-y-2 flex flex-col h-full">
          <div class="p-3 relative">
            <a href="/Orgacert/chi-tiet-tin-tuc/" class="overflow-hidden aspect-video clipath-v1">
              <img src="https://demo.sweetsoft.vn/Orgacert/images/bg-new-2.png" alt=""
                class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110" />
            </a>
            <div
              class="h-8 w-8 old:w-9 old:h-9 small:w-10 small:h-10 rounded-full bg-primary-color absolute max-xs:right-3 bottom-[6px] lg:bottom-3 2xl:bottom-5 right-4 lg:right-5 flex items-center justify-center text-white">
              <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 17 17" height="18px"
                width="18px">
                <path d="M16 0.997v9.003h-1v-7.297l-10.317 10.297-0.707-0.708 10.315-10.295h-7.316v-1h9.025z">
                </path>
              </svg>
            </div>
          </div>

          <div class="p-6 flex flex-col flex-grow">
            <div>
              <span class="text-xs font-bold px-3 py-1 rounded-full bg-green-100 text-green-800">
                TÀI LIỆU
              </span>
              <h3 class="mt-4 text-xl font-bold text-gray-800 hover:text-green-700 transition-colors">
                <a href="/Orgacert/chi-tiet-tin-tuc/">Phương pháp phối hợp 3 chai trên 600 lít của Proton
                  Fusion</a>
              </h3>
              <p class="mt-2 text-gray-600 text-sm leading-relaxed line-clamp-2">
                Phương pháp phối hợp 3 chai trên 600 lít của Proton Fusion giúp tăng hiệu quả sử dụng phân bón hữu
                cơ
                Orgacert, cải thiện chất lượng cây trồng và nâng cao năng suất một cách bền vững.
              </p>
            </div>
          </div>
        </div>

      </div>
      <div class="flex items-center justify-center mt-10">
        <a href="{{ site.baseUrl }}/tai-lieu-tieu-chuan-ve-lua/"
          class="btn btn-primary btn-sm flex items-center gap-2 relative">
          Xem tất cả
          <svg class="svg-inline--fa fa-arrow-right" data-prefix="fas" data-icon="arrow-right" role="img"
            viewBox="0 0 512 512" aria-hidden="true" data-fa-i2svg="">
            <path fill="currentColor"
              d="M502.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l370.7 0-105.4 105.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z">
            </path>
          </svg>
        </a>
      </div>

    </div>
  </div>
</section>
