<div class="bg-white rounded-xl p-4 lg:p-8 mb-5 lg:mb-10">
  <div class="flex flex-wrap items-center gap-4 mb-10">
    <span class="text-4xl md:text-6xl font-bold text-primary-color opacity-20">03</span>
    <div>
      <h2 class="text-xl md:text-4xl font-bold text-gray-800">
        Lợi ích
      </h2>
      <div class="h-0.5 w-10 md:w-20 bg-primary-color mt-2"></div>
    </div>
  </div>
  <div class="showDetailBlog" data-aos="fade-left" data-aos-delay="50" data-aos-duration="1000">
    <h3>Chứng nhận Orgacert mang lại lợi ích gì cho doanh nghiệp bạn?</h3>
    <ul>
      <li>Khẳng định uy tín và năng lực canh tác: Chứng nhận Orgacert là minh chứng cho việc người nông tuân thủ quy
        trình
        bón phân hữu cơ khoa học, an toàn và bền vững. Đây là “tấm hộ chiếu” giúp khẳng định tay nghề và chất lượng sản
        xuất của nhà nông</li>
      <li>Tăng năng suất và chất lượng nông sản: Việc áp dụng quy trình Orgacert giúp cải thiện đất, cân bằng dinh dưỡng
        và giảm bệnh hại, từ đó nâng cao chất lượng, hương vị và giá trị dinh dưỡng của sản phẩm.</li>
      <li>
        Gia tăng giá trị thương mại: Nông sản được chứng nhận Orgacert và đạt chuẩn OM.GAP dễ dàng tiếp cận các thị
        trường
        cao cấp, được người tiêu dùng và doanh nghiệp thu mua ưu tiên, giúp tăng lợi nhuận ổn định hơn.</li>
      <li>
        Được truy xuất nguồn gốc minh bạch: Hệ thống Orgacert cho phép quản lý và ghi nhận toàn bộ quy trình sản xuất,
        giúp người nông minh bạch hóa thông tin và nâng cao niềm tin từ người tiêu dùng.
      </li>
      <li>Hỗ trợ đào tạo và phát triển kỹ thuật: Người được chứng nhận Orgacert được tham gia các chương trình tập huấn,
        cập nhật kiến thức và kỹ thuật canh tác mới, nâng cao năng lực nghề nghiệp.</li>
      <li>Kết nối cộng đồng hữu cơ: Tham gia Orgacert giúp người nông trở thành một phần của mạng lưới sản xuất bền
        vững,
        có cơ hội hợp tác với các doanh nghiệp, đại lý và tổ chức trong chuỗi giá trị nông nghiệp sạch.</li>
    </ul>
    <h3>Hiệu lực của chứng nhận Orgacert là bao lâu?</h3>
    <p>Chứng nhận Orgacert có hiệu lực mãi mãi với điều kiện nhà nông tin tưởng và áp dụng quy trình bón phân hữu cơ đề
      ra
      bởi Orgacert</p>
  </div>

</div>
