<div class="bg-white rounded-xl p-4 lg:p-8">
  <div class="flex flex-wrap items-center gap-4 mb-10">
    <span class="text-4xl md:text-6xl font-bold text-primary-color opacity-20">04</span>
    <div>
      <h2 class="text-xl md:text-4xl font-bold text-gray-800">
        Quy trình chứng nhận Orgacert điển hình
      </h2>
      <div class="h-0.5 w-10 md:w-20 bg-primary-color mt-2"></div>
    </div>
  </div>

  <div class="space-y-8">
    <div
      class="bg-gradient-to-r from-white to-orgacert-light rounded-2xl shadow p-4 md:p-8 border-l-8 border-primary-color transition-all duration-300">
      <div class="flex max-sm:flex-col  items-start space-x-6" data-aos="fade-left" data-aos-delay="50"
        data-aos-duration="1000">
        <div class="flex-shrink-0">
          <div
            class="w-10 h-10 bg-gradient-to-br from-primary-color to-primary-color text-white rounded-full flex items-center justify-center font-bold text-xl shadow-lg">
            1
          </div>
        </div>
        <div class="flex-grow">
          <div class="showDetailBlog">
            <h3>BƯỚC 1: THAM GIA TẬP HUẤN ORGACERT</h3>
            <p>Việc tham gia khoá tập huấn sẽ giúp người nông hiểu rõ hơn về triết lý, quy trình kỹ thuật và lợi ích của
              việc canh tác hữu cơ theo tiêu chuẩn Orgacert và OM.GAP. Người tham gia sẽ được:</p>
            <ul>
              <li>Giới thiệu tổng quan về hệ thống tiêu chuẩn Orgacert;</li>
              <li>Học cách sử dụng và lựa chọn phân bón hữu cơ đúng kỹ thuật;</li>
              <li>Tìm hiểu quy trình bón phân, chăm sóc, và ghi nhận dữ liệu sản xuất</li>
              <li>Cấp Giấy chứng nhận tham gia tập huấn Orgacert.</li>
            </ul>
          </div>

        </div>
      </div>
    </div>
    <div
      class="bg-gradient-to-r from-white to-orgacert-light rounded-2xl shadow p-4 md:p-8 border-l-8 border-primary-color transition-all duration-300">
      <div class="flex max-sm:flex-col  items-start space-x-6" data-aos="fade-left" data-aos-delay="50"
        data-aos-duration="1000">
        <div class="flex-shrink-0">
          <div
            class="w-10 h-10 bg-gradient-to-br from-primary-color to-primary-color text-white rounded-full flex items-center justify-center font-bold text-xl shadow-lg">
            2
          </div>
        </div>
        <div class="flex-grow">
          <div class="showDetailBlog">
            <h3>BƯỚC 2: ĐĂNG KÝ ỨNG DỤNG TIÊU CHUẨN</h3>
            <p>Sau khi hoàn thành tập huấn, người nông đăng ký tham gia chương trình ứng dụng tiêu chuẩn Orgacert. Khi
              đăng ký thành công, bạn sẽ được cấp Orgacert e-Card – “Nhật ký làm vườn điện tử”. e-Card giúp bạn:</p>
            <ul>
              <li>Ghi nhận toàn bộ hoạt động canh tác: thời gian bón phân, loại phân, liều lượng, ghi chú hiện trường
              </li>
              <li>Tự động cập nhật hướng dẫn quy trình mới nhất từ Orgacert;</li>
              <li>Được hệ thống đánh giá mức độ tuân thủ tiêu chuẩn theo thời gian thực;</li>
              <li>Là cơ sở để Orgacert kiểm tra và xác nhận khả năng ứng dụng thực tế.</li>
            </ul>
          </div>

        </div>
      </div>
    </div>
    <div
      class="bg-gradient-to-r from-white to-orgacert-light rounded-2xl shadow p-4 md:p-8 border-l-8 border-primary-color transition-all duration-300">
      <div class="flex max-sm:flex-col  items-start space-x-6" data-aos="fade-left" data-aos-delay="50"
        data-aos-duration="1000">
        <div class="flex-shrink-0">
          <div
            class="w-10 h-10 bg-gradient-to-br from-primary-color to-primary-color text-white rounded-full flex items-center justify-center font-bold text-xl shadow-lg">
            3
          </div>
        </div>
        <div class="flex-grow">
          <div class="showDetailBlog">
            <h3>BƯỚC 3: ĐÁNH GIÁ KHẢ NĂNG ỨNG DỤNG</h3>
            <p>Khi người nông đã áp dụng quy trình trong một thời gian nhất định, Orgacert sẽ tiến hành đánh giá dựa
              trên dữ liệu e-Card. Các tiêu chí đánh giá gồm:</p>
            <ul>
              <li>Mức độ tuân thủ quy trình bón phân hữu cơ Orgacert;</li>
              <li>Hiệu quả sử dụng vật tư và phân bón theo danh mục cho phép;</li>
              <li>Tính ổn định và cải thiện của đất, cây trồng và năng suất.</li>
            </ul>
            <p>Nếu đạt yêu cầu, người nông sẽ được cấp Chứng nhận “Ứng dụng tiêu chuẩn Orgacert”, xác nhận bạn đã thực
              hành thành công quy trình hữu cơ chuẩn hóa.</p>
          </div>

        </div>
      </div>
    </div>

    <div
      class="bg-gradient-to-r from-white to-orgacert-light rounded-2xl shadow p-4 md:p-8 border-l-8 border-primary-color transition-all duration-300">
      <div class="flex max-sm:flex-col  items-start space-x-6" data-aos="fade-left" data-aos-delay="50"
        data-aos-duration="1000">
        <div class="flex-shrink-0">
          <div
            class="w-10 h-10 bg-gradient-to-br from-primary-color to-primary-color text-white rounded-full flex items-center justify-center font-bold text-xl shadow-lg">
            4
          </div>
        </div>
        <div class="flex-grow">
          <div class="showDetailBlog">
            <h3>BƯỚC 4: ĐÁNH GIÁ SAU THU HOẠCH & CHỨNG NHẬN CHẤT LƯỢNG OM.GAP</h3>
            <p>Khi vụ mùa kết thúc, Orgacert tiến hành đánh giá chất lượng nông sản sau thu hoạch dựa trên các tiêu chí
              OM.GAP:</p>
            <ul>
              <li>Độ an toàn sinh học và hàm lượng dinh dưỡng;</li>
              <li>Không tồn dư hóa chất, kim loại nặng hoặc chất cấm;</li>
              <li>Tuân thủ quy trình chăm sóc và thu hoạch theo tiêu chuẩn Orgacert;</li>
              <li>Tính ổn định của chất lượng nông sản qua các lô kiểm định.</li>
            </ul>
            <p>Nếu đạt chuẩn, nhà nông sẽ được:</p>
            <ul>
              <li> Chứng nhận chất lượng OM.GAP cho sản phẩm;</li>
              <li>Cấp quyền sử dụng con dấu OM.GAP trên bao bì hoặc nhãn hàng;</li>
              <li>Ghi danh sản phẩm trong danh mục nông sản đạt chuẩn Orgacert.</li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div
      class="bg-gradient-to-r from-white to-orgacert-light rounded-2xl shadow p-4 md:p-8 border-l-8 border-primary-color transition-all duration-300">
      <div class="flex max-sm:flex-col  items-start space-x-6" data-aos="fade-left" data-aos-delay="50"
        data-aos-duration="1000">
        <div class="flex-shrink-0">
          <div
            class="w-10 h-10 bg-gradient-to-br from-primary-color to-primary-color text-white rounded-full flex items-center justify-center font-bold text-xl shadow-lg">
            5
          </div>
        </div>
        <div class="flex-grow">
          <div class="showDetailBlog">
            <h3>BƯỚC 5: CẤP GIẤY CHỨNG NHẬN TIÊU CHUẨN ORGACERT</h3>
            <p>Khi người làm nông hoàn toàn tin tưởng và gắn bó với quy trình Orgacert, đạt thành tích tốt và chủ động
              lan tỏa tiêu chuẩn tới cộng đồng, Orgacert sẽ trao chứng nhận tiêu chuẩn Orgacert. Danh hiệu này ghi nhận
              những cá nhân:</p>
            <ul>
              <li>Có năng lực thực hành chuẩn hóa bền vững;</li>
              <li>Đóng vai trò hướng dẫn, hỗ trợ các hộ nông dân khác;</li>
              <li>Góp phần mở rộng mạng lưới canh tác hữu cơ chuẩn Orgacert.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
