<div class="bg-white rounded-xl p-4 lg:p-8 mb-5 lg:mb-10">
  <div class="flex flex-wrap items-center gap-4 mb-10">
    <span class="text-4xl md:text-6xl font-bold text-primary-color opacity-20">01</span>
    <div>
      <h2 class="text-xl md:text-4xl font-bold text-gray-800">
        Tổng quan
      </h2>
      <div class="h-0.5 w-10 md:w-20 bg-primary-color mt-2"></div>
    </div>
  </div>
  <div class="showDetailBlog" data-aos="fade-left" data-aos-delay="50" data-aos-duration="1000">
    <h3>Chứng nhận Orgacert là gì?</h3>
    <p>Chứng nhận Orgacert là chứng nhận tiêu chuẩn kỹ thuật và quy trình bón phân hữu cơ hợp lý, được cấp cho các cá
      nhân, tổ chức, hợp tác xã, trang trại hoặc doanh nghiệp đáp ứng đầy đủ các tiêu chí sau:</p>
    <ul>
      <li>Tham gia chương trình đào tạo và tập huấn Orgacert về quy trình bón phân, chăm sóc và quản lý nông nghiệp hữu
        cơ;</li>
      <li>Ứng dụng đúng kỹ thuật và tiêu chuẩn Orgacert trong sản xuất – đảm bảo hiệu quả sinh học, an toàn đất và cây
        trồng;</li>
      <li>Đạt kết quả kiểm tra, đánh giá định kỳ về chất lượng đất, năng suất, an toàn nông sản và quy trình sử dụng vật
        tư</li>
      <li>Tuân thủ quy định minh bạch và truy xuất nguồn gốc trong quá trình sản xuất và thương mại sản phẩm.</li>
    </ul>
    <p>Các đơn vị được chứng nhận sẽ được Orgacert cấp giấy chứng nhận và ghi danh trong Hệ thống cơ sở đạt chuẩn
      Orgacert, đồng thời đủ điều kiện để sử dụng dấu chứng nhận chất lượng OM.GAP trên sản phẩm nông sản của mình.</p>
    <h3>Chất lượng Om.gap là gì?</h3>
    <p>OM.GAP (Organic Management – Good Agricultural Practice) là bộ tiêu chuẩn thực hành nông nghiệp tốt theo hướng
      hữu
      cơ, được Orgacert nghiên cứu và ban hành nhằm bảo đảm tính an toàn, bền vững và minh bạch trong toàn bộ quy trình
      sản xuất nông nghiệp. Tiêu chuẩn này là thước đo chất lượng toàn diện, không chỉ đánh giá nông sản đầu ra mà còn
      phản ánh mức độ tuân thủ quy trình canh tác, quản lý đất và bảo vệ môi trường của người làm nông. Dưới sự hướng
      dẫn
      kỹ thuật của Orgacert, người nông áp dụng đúng phương pháp bón phân hữu cơ – đúng liều lượng, đúng thời điểm, đúng
      loại và phù hợp sinh lý cây trồng – để đảm bảo đất được nuôi dưỡng tự nhiên, cân bằng vi sinh và không tồn dư độc
      hại. Các nông sản đạt chuẩn OM.GAP đáp ứng yêu cầu nghiêm ngặt về chất lượng, dinh dưỡng, hương vị và độ an toàn
      sinh học, đồng thời góp phần giảm phát thải, tiết kiệm tài nguyên và bảo vệ sức khỏe cộng đồng. Dấu chứng nhận
      OM.GAP chính là biểu trưng cho chất lượng hữu cơ chuẩn mực, giúp người tiêu dùng dễ dàng nhận biết, tin tưởng và
      lựa
      chọn những sản phẩm xanh – sạch – bền vững được canh tác theo đúng giá trị mà Orgacert cam kết.</p>
    <h3>Đối tượng nào cần áp dụng tiêu chuẩn Orgacert</h3>
    <p>Những người làm nông ham học hỏi, luôn tìm hiểu về canh tác nông nghiệp theo hướng công nghệ hiện đại, và tin
      tưởng
      tuyệt đối với hướng đi nông nghiệp hữu cơ bền vững và an toàn vệ sinh môi trường.</p>

  </div>

</div>
