<div class="mb-8 bg-white rounded-lg shadow-sm p-4">
  <div class="flex flex-wrap gap-4 items-center">
    <div class="relative flex-grow w-full sm:w-auto sm:flex-grow-0 sm:basis-80">
      <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
        <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
          aria-hidden="true">
          <path fill-rule="evenodd"
            d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
            clip-rule="evenodd" />
        </svg>
      </div>
      <input type="text" placeholder="Tìm kiếm..."
        class="block w-full pl-10 pr-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-primary-color" />
    </div>


    <select
      class="flex-grow min-w-[200px] sm:flex-grow-0 sm:w-auto px-4 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-primary-color">
      <option>Thứ tự</option>
      <option>Mới nhất</option>
      <option>Cũ nhất</option>
      <option>A → Z</option>
      <option>Z → A</option>
    </select>

    <select
      class="flex-grow min-w-[200px] sm:flex-grow-0 sm:w-auto px-4 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-primary-color">
      <option>Thương hiệu</option>
      <option>VinEco</option>
      <option>Organica</option>
      <option>Greenfields</option>
      <option>TH True Milk</option>
      <option>La Fresh</option>
    </select>

    <select
      class="flex-grow min-w-[200px] sm:flex-grow-0 sm:w-auto px-4 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-primary-color">
      <option>Tỉnh thành</option>
      <option>Hà Nội</option>
      <option>TP. Hồ Chí Minh</option>
      <option>Đà Nẵng</option>
      <option>Cần Thơ</option>
      <option>Hải Phòng</option>
    </select>

    <button class="ml-auto w-full flex items-center gap-3 sm:w-auto px-4 py-2 bg-primary-color text-white rounded-md shadow-sm hover:bg-primary-color/90 focus:outline-none focus:ring-2
      focus:ring-primary-color focus:ring-offset-2">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-filter-2-check">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M4 6h16" />
        <path d="M6 12h12" />
        <path d="M9 18h2" />
        <path d="M15 18l2 2l4 -4" />
      </svg>
      Lọc
    </button>
  </div>
</div>
