<section class="pt-10 md:py-10 2xl:py-20 md:px-4 relative">
  <div class="absolute -right-6 -bottom-3 z-0">
    <img class="max-sm:hidden max-w-[400px] w-full object-cover opacity-25 "
      src="https://demo.sweetsoft.vn/Orgacert/images/icon-logo.png" alt="Trang trí" />
  </div>
  <div class="absolute -left-6 top-3 z-0">
    <img class="max-sm:hidden max-w-[400px] w-full object-cover opacity-25 "
      src="https://demo.sweetsoft.vn/Orgacert/images/icon-logo.png" alt="Trang trí" />
  </div>

  <div class="container-layout">
    <div class="flex max-xs:flex-col flex-wrap items-center justify-between gap-6 relative z-2">
      <div class="flex flex-wrapitems-center gap-4">
        <span class="text-4xl md:text-6xl font-bold text-primary-color opacity-20">02</span>
        <div>
          <h2 class="text-xl md:text-4xl font-bold text-gray-800">
            Nhà nông tiêu biểu
          </h2>
          <div class="h-0.5 w-10 md:w-20 bg-primary-color mt-2"></div>
        </div>
      </div>
      <a href="{{ site.baseUrl }}/danh-sach-nha-nong-tieu-bieu/"
        class="btn btn-primary btn-sm flex items-center gap-2 relative h-fit w-fit">
        <i class="fa-solid fa-arrow-right"></i>
        Xem tất cả
      </a>
    </div>

    <div class="relative" data-aos="fade-left" data-aos-delay="50" data-aos-duration="1000">
      <div class="swiper typicalFarmer-swiper">
        <div class="swiper-wrapper py-5 md:py-10">
          <div class="swiper-slide">
            <a href="javascript:;" title="Nguyễn Văn A"
              class="bg-white rounded-xl shadow-sm hover:shadow-lg transition-shadow duration-300 overflow-hidden inline-block w-full">
              <div class=" wrapImgResize imgSquare">
                <img src="https://demo.sweetsoft.vn/Orgacert/images/avatar.png" alt="Nguyễn Văn A" />
              </div>
              <div class="p-3 sm:p-5">
                <div
                  class="inline-block bg-primary-color text-white text-[10px] xs:text-xs font-semibold px-3 py-1 rounded-full mb-3 whitespace-nowrap">
                  PROTON FUSION
                </div>
                <h3 class="text-sm sm:text-xl font-bold text-gray-800 mb-2">Nguyễn Văn A</h3>
                <p class="text-gray-600 text-sm leading-relaxed line-clamp-3">
                  Địa chỉ: 298J+CRX, Ấp Phú Trạch 1, Mỏ Cày Nam, Bến Tre
                </p>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="javascript:;" title="Nguyễn Văn A"
              class="bg-white rounded-xl shadow-sm hover:shadow-lg transition-shadow duration-300 overflow-hidden inline-block w-full">
              <div class=" wrapImgResize imgSquare">
                <img src="https://demo.sweetsoft.vn/Orgacert/images/avatar.png" alt="Nguyễn Văn A" />
              </div>
              <div class="p-3 sm:p-5">
                <div
                  class="inline-block bg-primary-color text-white text-[10px] xs:text-xs font-semibold px-3 py-1 rounded-full mb-3 whitespace-nowrap">
                  PROTON FUSION
                </div>
                <h3 class="text-sm sm:text-xl font-bold text-gray-800 mb-2">Nguyễn Văn A</h3>
                <p class="text-gray-600 text-sm leading-relaxed line-clamp-3">
                  Địa chỉ: 298J+CRX, Ấp Phú Trạch 1, Mỏ Cày Nam, Bến Tre
                </p>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="javascript:;" title="Nguyễn Văn A"
              class="bg-white rounded-xl shadow-sm hover:shadow-lg transition-shadow duration-300 overflow-hidden inline-block w-full">
              <div class=" wrapImgResize imgSquare">
                <img src="https://demo.sweetsoft.vn/Orgacert/images/avatar.png" alt="Nguyễn Văn A" />
              </div>
              <div class="p-3 sm:p-5">
                <div
                  class="inline-block bg-primary-color text-white text-[10px] xs:text-xs font-semibold px-3 py-1 rounded-full mb-3 whitespace-nowrap">
                  PROTON FUSION
                </div>
                <h3 class="text-sm sm:text-xl font-bold text-gray-800 mb-2">Nguyễn Văn A</h3>
                <p class="text-gray-600 text-sm leading-relaxed line-clamp-3">
                  Địa chỉ: 298J+CRX, Ấp Phú Trạch 1, Mỏ Cày Nam, Bến Tre
                </p>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="javascript:;" title="Nguyễn Văn A"
              class="bg-white rounded-xl shadow-sm hover:shadow-lg transition-shadow duration-300 overflow-hidden inline-block w-full">
              <div class=" wrapImgResize imgSquare">
                <img src="https://demo.sweetsoft.vn/Orgacert/images/avatar.png" alt="Nguyễn Văn A" />
              </div>
              <div class="p-3 sm:p-5">
                <div
                  class="inline-block bg-primary-color text-white text-[10px] xs:text-xs font-semibold px-3 py-1 rounded-full mb-3 whitespace-nowrap">
                  PROTON FUSION
                </div>
                <h3 class="text-sm sm:text-xl font-bold text-gray-800 mb-2">Nguyễn Văn A</h3>
                <p class="text-gray-600 text-sm leading-relaxed line-clamp-3">
                  Địa chỉ: 298J+CRX, Ấp Phú Trạch 1, Mỏ Cày Nam, Bến Tre
                </p>
              </div>
            </a>
          </div>
          <div class="swiper-slide">
            <a href="javascript:;" title="Nguyễn Văn A"
              class="bg-white rounded-xl shadow-sm hover:shadow-lg transition-shadow duration-300 overflow-hidden inline-block w-full">
              <div class=" wrapImgResize imgSquare">
                <img src="https://demo.sweetsoft.vn/Orgacert/images/avatar.png" alt="Nguyễn Văn A" />
              </div>
              <div class="p-3 sm:p-5">
                <div
                  class="inline-block bg-primary-color text-white text-[10px] xs:text-xs font-semibold px-3 py-1 rounded-full mb-3 whitespace-nowrap">
                  PROTON FUSION
                </div>
                <h3 class="text-sm sm:text-xl font-bold text-gray-800 mb-2">Nguyễn Văn A</h3>
                <p class="text-gray-600 text-sm leading-relaxed line-clamp-3">
                  Địa chỉ: 298J+CRX, Ấp Phú Trạch 1, Mỏ Cày Nam, Bến Tre
                </p>
              </div>
            </a>
          </div>

        </div>
      </div>
      <div class="flex items-center justify-center">
        <div class="swiper-pagination-custom-style-v1 swiper-pagination-typicalFarmer !bottom-[-20px] mx-auto !w-fit">
        </div>
      </div>

    </div>
  </div>
</section>
