---
title: "Trang chủ"
description: "MUMOIRA Mu mới ra tháng 12 2025 - Mu Sài Gòn Pc Season 6.9 - Lâu dài - hấp dẫn - đông vui"
permalink: "/"
---
{% import "components/ParallaxHeader.njk" as Header %}
{% from "macros/mainLayout.njk" import mainLayout %}
{% extends "layouts/public.njk" %}
{% block mainContent %}
{% include "page/home/bannerHero.njk" %}
{% call mainLayout()%}
<div>
  {% include "page/home/MainContent.njk" %}
</div>
{% endcall %}


{% endblock %}
